.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.abc-una-respuesta .panel-body:active {
	background-color: white !important;
	font-weight: bold !important;
}

.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1
}

.mostrar-historia {
	overflow: hidden;
	text-align: center;
}

.mostrar-historia.absoluta {
	position: absolute;
}

ul li.abc-una-respuesta {
    list-style: none;
}

input[type=checkbox] {
     position: relative;
     margin: 4px 10px 0px 0px;
}

.abc-nombre {
	font-size: 150%;
}

.abc-150 {
	font-size: 200%;
}

 label>input[type=checkbox]:before {
     position: absolute;
    background-color: #FFFFFF;
    height: 100%;
	width: 100%;
    font-family: FontAwesome;
    display: inline-block;
    content:"\f096";
    letter-spacing: 10px;
}

 label>input[type=checkbox]:checked:before {
     font-family: FontAwesome;
    display: inline-block;
    content:"\f046";
    letter-spacing: 5px;
}