<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		{% with nodo=path|add:'/pagina' tipo='Documento' %}
		<title>{% buscar leng dicci tipo nodo 'title' 'Página' %}</title>
		<meta property="og:title" content="{% buscar leng dicci tipo nodo 'title' 'Titulo' %}" />
		<meta name="twitter:title" content="{% buscar leng dicci tipo nodo 'title' 'Titulo' %}" />
		<meta property="og:description" content="{% buscar leng dicci tipo nodo 'description' 'Descripcion' %}" />
		<meta name="keywords" content="{% buscar leng dicci tipo nodo 'palabrasclave' '' %}">
		<meta name="twitter:description" content="{% buscar leng dicci tipo nodo 'description' 'Descripcion' %}" />
		{% endwith %}
		{% with nodo='/general' tipo="Configuracion" %}
		<meta property="og:image" content="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" />
		<meta name="twitter:image" content="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" />
		<meta property="og:site_name" content="{% buscar leng dicci tipo nodo 'site_name' 'Nombre del Sitio' %}" />
		<meta property="og:url" content="{% buscar leng dicci tipo nodo 'url' 'http://www.dominio.com' %}" />
		<meta property="og:type" content="{% buscar leng dicci tipo nodo 'type' 'website' %}" />
		{% endwith %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		{% if admin %}
		<link rel="stylesheet" href="/assets/css/adminBasico.css" />
		<link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
		<link rel="stylesheet" href="/assets/css/jquery.ui.tabs.min.css" />
	    <link rel="stylesheet" href="/assets/css/create/create-ui.css" />
	    <link rel="stylesheet" href="/assets/css/create/midgardnotif.css" />
	    {% endif %}
	    
		<!-- CSS's comunes -->
		<link rel="stylesheet" href="/assets/css/create-basic.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.css" />
		
		__USER__
		
		{% block encabezado %}{% endblock %}
		
	</head>
	<body class="landing">
		{% csrf_token %}
		{% with nodo=path|add:'/pagina' tipo='Documento' %}
		<div class="menu_pagina invisible" about="{{ nodo }}" typeof="{{ tipo }}">
			<ul>
				<li><span>Título:</span><div textplain="true" property="title">{% buscar leng dicci tipo nodo 'title' 'Página' %}</div></li>
				<li><span>Descripción:</span><div textplain="true" property="description">{% buscar leng dicci tipo nodo 'description' 'Descripción' %}</div></li>
				<li><span>Palabras clave:</span><div textplain="true" property="palabrasclave">{% buscar leng dicci tipo nodo 'palabrasclave' 'servicio' %}</div></li>
				<li class="imagen_pagina">
					<img class="imagen_pagina_real" property="imagen" data-max="500" src="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" alt="{% buscar leng dicci tipo nodo 'imagen_alt' '' %}" data-carpeta="/caracteristica-mini"/>
				</li>
			</ul>
		</div>
		{% endwith %}

		{% block content %}{% endblock %}
		
		{% block pie %}{% endblock %}

		{% autoescape off %}

		<script src="/assets/js/comun/jquery.min.js"></script>
		<script src="/assets/js/comun/jquery-ui.min.js"></script>
		<script src="/assets/js/comun/jquery.ui.tabs.min.js"></script>
		<script src="/assets/js/comun/jquery.doubletap.js"></script>
		
        <script src="/assets/js/comun/skel.min.js"></script>
        <script src="/assets/js/comun/date/jquery-dateFormat.min.js"></script>
		
		{% if admin %}
		<script src="/assets/js/create2/ui/core.min.js"></script>
        <script src="/assets/js/create2/ui/position.min.js"></script>
        <script src="/assets/js/create2/ui/widget.min.js"></script>
        <script src="/assets/js/create2/ui/button.min.js"></script>
        <script src="/assets/js/create2/ui/dialog.min.js"></script>
        <script src="/assets/js/create2/ui/droppable.min.js"></script>
        <script src="/assets/js/create2/ui/effect.min.js"></script>
        <script src="/assets/js/create2/ui/effect-highlight.min.js"></script>
        <script src="/assets/js/create2/rangy-core-1.2.3.js"></script>
        <script src="/assets/js/create2/underscore-min.js"></script>
        <script src="/assets/js/create2/backbone-min.js"></script>
        <script src="/assets/js/create2/hallo-min.js"></script>
        <script src="/assets/js/create2/vie-min.js"></script>
        <script src="/assets/js/comun/date/picker.js"></script>
        <script src="/assets/js/comun/date/picker.date.js"></script>
        <script src="/assets/js/comun/date/picker.time.js"></script>
        <script src="/assets/js/comun/date/legacy.js"></script>
        <script src="/assets/js/create2/create-min.js"></script>
        <script src="/assets/js/create2/filereader.js"></script>
		{% endif %}
		
		<script src="/assets/dist/modulos.min.js"></script>
		
		{% block scripts %}{% endblock %}
		
		{% if admin %}
		<script src="/assets/dist/admin/admin.js"></script>
		{% else %}
		<script src="/assets/dist/publico/publico.js"></script>
		{% endif %}
		
		{{ ANALYTICS }}
		{% endautoescape %}
		
	</body>
</html>