{% extends "base.html" %}

{% block encabezado %}
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/css/juego/main.css" />
{% endblock %}

{% block content %}
<div class="panel panel-default abc-jugadores">
  <div class="panel-heading">
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default abc-anterior"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
	  <button type="button" class="btn btn-success abc-jugar"><i class="fa fa-play" aria-hidden="true"></i></button>
	  <button type="button" class="btn btn-danger abc-terminar"><i class="fa fa-pause" aria-hidden="true"></i></button>
	  <button type="button" class="btn btn-default abc-siguiente"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
	</div>
	<div class="btn-group pull-right abc-botones-vista" role="group" aria-label="...">
	</div>
  </div>
  <div class="panel-body">
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/assets/js/comun/bootstrap.min.js"></script>
<script src="/assets/js/chartjs/Chart.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
	function funcionError(err) {console.log('Error ',err)}
	// Initialize Firebase
	var config = {
	    apiKey: "AIzaSyCWo8e8hTwU-QUhTUBTToIgVbwQBNQlqpM",
	    authDomain: "proyeccion-colombia1.firebaseapp.com",
	    databaseURL: "https://proyeccion-colombia1.firebaseio.com",
	    projectId: "proyeccion-colombia1",
	    storageBucket: "proyeccion-colombia1.appspot.com",
	    messagingSenderId: "569221347334"
	};
	firebase.initializeApp(config);
	var database = firebase.database();
	var ultimaPregunta = database.ref('ultimaPregunta');
	
	var modeloJuegoBase = function(todo) {
		var datos = {
			publicado: false,
			todo: todo,
			jugadores: {},
			indice: 0,
			moduloVista: null,
		};
		var asignarModuloVista = function(modulo) {
			datos.moduloVista = modulo;
		};
		var borrarJugador = function(llave) {
			var updates = {};
			updates['/jugadores/' + llave] = null;
			var promesa = firebase.database().ref().update(updates);
			promesa.then(function() {
				
			});
		};
		var siguiente = function() {
			if (datos.indice == (datos.todo.orden.length-1)) {
				return;
			}
			datos.indice+=1;
			datos.moduloVista.irA(datos.indice);
			if (datos.publicado) {
				publicarJuego();
			} 
		};
		var anterior = function() {
			if (datos.indice == 0) {
				return;
			}
			datos.indice-=1;
			datos.moduloVista.irA(datos.indice);
			if (datos.publicado) {
				publicarJuego();
			} 
		};
		var conectar = function() {
			datos.db = database.ref('jugadores');
			datos.db.on("value", function(data) {
				console.log('cambio jugadores!')
				datos.jugadores = data.val();
				datos.moduloVista.asignarJugadores(datos.jugadores);
			});
			datos.moduloVista.irA(datos.indice);
		};
		var publicarJuego = function() {
			var updates = {};
			var idPregunta = datos.todo.orden[datos.indice];
			var preguntaActual = datos.todo.preguntas[idPregunta];
			preguntaActual.id = idPregunta;
			updates['/ultimaPregunta/'] = preguntaActual;
			var promesa = firebase.database().ref().update(updates);
			promesa.then(function() {
				datos.publicado = true;
			});
		};
		var terminarJuego = function() {
			var updates = {};
			updates['/ultimaPregunta/'] = null;
			var promesa = firebase.database().ref().update(updates);
			promesa.then(function() {
				datos.publicado = false;
			});
		};
		
		var inicializar = function() {
			$('.abc-jugar').on('click', publicarJuego);
			$('.abc-terminar').on('click', terminarJuego);
			$('.abc-anterior').on('click', anterior);
			$('.abc-siguiente').on('click', siguiente);
			conectar();
		};
		
		return {
			'borrarJugador': borrarJugador,
			'asignarModuloVista': asignarModuloVista,
			'inicializar': inicializar,
		};
	};
	
	var idGenerico = '/juegos/base.json';
	var promesa = moduloArchivos.leerTextoPlano(idGenerico);
	$.when(promesa).then(function(datos) {
		if (esNumero(datos.error)) {
			let plantilla = {
				'orden': ['diahoy'],
         		'preguntas': {
         			'diahoy': {
         				vistas: {'score': true, 'preguntas': true},
	        			texto: "¿qué día es hoy?",
	        			respuesta: "Hoy es sábado",
	        			respuestas: {
	        				'lunes': {
	        					texto: "Lunes",
	        					puntos: 1,
	        				},
	        				'martes': {
	        					texto: "Martes",
	        					puntos: 0,
	        				},
	        			}
	         		}
        		}
			};
			var promesaEscritura = moduloArchivos.escribirTextoPlano(idGenerico, JSON.stringify(plantilla));
			$.when(promesaEscritura).then(function(respuesta) {
				location.reload();
			}, funcionError);
		} else {
			var datosJuego = JSON.parse(datos);
			var modeloJuego = modeloJuegoBase(datosJuego);
			var moduloVista = moduloJuegoVista(
					$('.abc-jugadores>.panel-body'),
					$('.abc-jugadores .abc-botones-vista'),
					datosJuego, 
					modeloJuego);
			modeloJuego.asignarModuloVista(moduloVista);
			modeloJuego.inicializar();
		}
	}, funcionError);
	
</script>
{% endblock %}