{% extends "base.html" %}

{% block encabezado %}
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
{% endblock %}

{% block content %}

<!-- Modal Apodo -->
<div id="modalNickName" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">¿Cómo te llamas?</h4>
      </div>
      <div class="modal-body">
		<div class="form-group">
		  <input type="text" class="form-control" name="apodo">
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success">Continuar</button>
      </div>
    </div>
  </div>
</div>

<div id="modalMensaje" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default abc-pregunta">
  <div class="panel-heading abc-titulo">ABC</div>
  <div class="panel-body">
	
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
	function funcionError(err) {console.log('Error ',err)}
	// Initialize Firebase
	var config = {
	    apiKey: "AIzaSyCWo8e8hTwU-QUhTUBTToIgVbwQBNQlqpM",
	    authDomain: "proyeccion-colombia1.firebaseapp.com",
	    databaseURL: "https://proyeccion-colombia1.firebaseio.com",
	    projectId: "proyeccion-colombia1",
	    storageBucket: "proyeccion-colombia1.appspot.com",
	    messagingSenderId: "569221347334"
	};
	firebase.initializeApp(config);
	var database = firebase.database();
	
	var sonidos = {
		'bien': moduloSonido('/assets/sonidos/Mario Grow.mp3'),
		'mal': moduloSonido('/assets/sonidos/Pacman Death.mp3'),
	};
	
	var moduloJugador = function() {
		var datos = {
			apodo: null,
			llave: null,
			llaveCompleta: null,
			datosRemotos: null,
			ultimaPregunta: null,
			jPanelPregunta: $('.abc-pregunta'),
			moduloVista: null,
		};
		
		var remotos = {
			usuario: null,
			ultimaPregunta: null,
		};
		
		var leerUltimoApodo = function() {
			try {return localStorage['apodo'];} catch (e){}
			return '';
		};
		
		var asignarModuloVista = function(modulo) {
			datos.moduloVista = modulo;
		};		
		
		var asignarApodo = function(valor) {
			//Se guarda en el local storage
			try {localStorage['apodo'] = valor;} catch (e){}
			datos.apodo = valor;
			datos.llave = valor.replace(/[^a-z]+/ig, '_');
			datos.llaveCompleta = '/jugadores/'+datos.llave;
			$('.abc-titulo').html('ABC + <strong>'+valor+'</srong>');
			conectar();
		};
		
		var usuarioEligeRespuesta = function(llaveRes, valorRespuesta, elem, idPregunta) {
			var cuerpoPanel = datos.jPanelPregunta.find('.panel-body');
			//Esconde todas las respuestas
			cuerpoPanel.find('.abc-una-respuesta').hide();
			var updates = {};
			updates[datos.llaveCompleta+'/respuestas/'+idPregunta] = llaveRes;
			var promesa = firebase.database().ref().update(updates);
			promesa.then(function() {
				
			});
			if (valorRespuesta.puntos == 0) {
				sonidos.mal.play();
			} else {
				sonidos.bien.play();
			}
			//Solo se muestra la que la persona escogió
			elem.removeClass('col-xs-6');
			elem.removeClass('col-sm-6');
			elem.removeClass('col-md-6');
			elem.addClass('col-xs-12');
			elem.show();
		};
		
		var regenerarPreguntas = function() {
			if (hayValor(datos.ultimaPregunta)) {
				datos.moduloVista.asignarPreguntaActual(datos.ultimaPregunta.id, datos.ultimaPregunta);
				datos.moduloVista.asignarModo('pregunta');
			} else {
				datos.moduloVista.asignarModo('blanco');
			}
		};
		
		var desconectar = function() {
			remotos.usuario.off();
			remotos.ultimaPregunta.off();
			firebase.database().goOffline();
			firebase.app().delete();
		};
		
		var conectar = function() {
			remotos.usuario = database.ref(datos.llaveCompleta);
			remotos.ultimaPregunta = database.ref('ultimaPregunta');
			
			remotos.ultimaPregunta.on('value', function(data) {
				if (data.val() == 'fin') {
					desconectar();
				} else {
					datos.ultimaPregunta = data.val();
					regenerarPreguntas();	
				}
			});
			remotos.usuario.on("value", function(data) {
				var existente = data.val();
				if (!hayValor(existente)) {
					//Asigna el valor inicial
					datos.remotos = {
						apodo: datos.apodo,
					};
					
					var updates = {};
					updates[datos.llaveCompleta] = datos.remotos;
					var promesa = firebase.database().ref().update(updates);
					
					promesa.then(function() {
						
					});
				} else {
					datos.remotos = existente;
				}
			}, funcionError);
		};
		
		return {
			'asignarApodo': asignarApodo,
			'leerUltimoApodo': leerUltimoApodo,
			'asignarModuloVista': asignarModuloVista,
			'usuarioEligeRespuesta': usuarioEligeRespuesta,
		};
	};
	
	var jugador = moduloJugador();
	var moduloVista = moduloJuegoVista($('.abc-pregunta > .panel-body'), null, null, jugador);
	jugador.asignarModuloVista(moduloVista);
	
	var mostrarModal = function(mensaje) {
		var diferido = $.Deferred();
		var jModalMensaje = $('#modalMensaje');
		jModalMensaje.modal({
			show: true,
		    backdrop: 'static',
		    keyboard: false
			});
		jModalMensaje.find('h4').html(mensaje);
		jModalMensaje.find('button').on('click', function() {
			
		});
		return diferido.promise();
	};
	
	//1. Se debe preguntar el nickname
	var jModalNickName = $('#modalNickName');
	jModalNickName.find('input').val(jugador.leerUltimoApodo());
	jModalNickName.modal({
		show: true,
	    backdrop: 'static',
	    keyboard: false
		});
	jModalNickName.find('button').on('click', function() {
		//Se valida que el nombre no sea vacio
		var apodo = jModalNickName.find('input[name="apodo"]').val();
		if (!hayValor(apodo)) {
			mostrarModal('Ups, faltó que escribieras tu nombre!');
		} else {
			jModalNickName.modal('hide');
			jugador.asignarApodo(apodo);
		}
	});
	
</script>
{% endblock %}