<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		{% with nodo=path|add:'/pagina' tipo='Documento' %}
		<title>{% buscar leng dicci tipo nodo 'title' 'Página' %}</title>
		<meta property="og:title" content="{% buscar leng dicci tipo nodo 'title' 'Titulo' %}" />
		<meta name="twitter:title" content="{% buscar leng dicci tipo nodo 'title' 'Titulo' %}" />
		<meta property="og:description" content="{% buscar leng dicci tipo nodo 'description' 'Descripcion' %}" />
		<meta name="keywords" content="{% buscar leng dicci tipo nodo 'palabrasclave' '' %}">
		<meta name="twitter:description" content="{% buscar leng dicci tipo nodo 'description' 'Descripcion' %}" />
		<!-- meta name="google-site-verification" content="v-q_pV-B3zUITjVMreiaBWnwSF9qY975Me_ZrcNpktc" /-->
		{% endwith %}
		{% with nodo='/general' tipo="Configuracion" %}
		<meta property="og:image" content="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" />
		<meta name="twitter:image" content="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" />
		<meta property="og:site_name" content="{% buscar leng dicci tipo nodo 'site_name' 'Nombre del Sitio' %}" />
		<meta property="og:url" content="{% buscar leng dicci tipo nodo 'url' 'http://www.dominio.com' %}" />
		<meta property="og:type" content="{% buscar leng dicci tipo nodo 'type' 'website' %}" />
		{% endwith %}
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		{% if admin %}
		<link rel="stylesheet" href="/assets/css/adminBasico.css" />
	    <link rel="stylesheet" href="/assets/css/create/create-ui.css" />
	    <link rel="stylesheet" href="/assets/css/create/midgardnotif.css" />
	    {% endif %}
	    
		<!-- CSS's comunes -->
		<link rel="stylesheet" href="/assets/css/create-basic.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/assets/css/font-awesome.css" />
		
		<!-- CSS's del template -->
		<link rel="stylesheet" href="/assets/templates/photon/css/main.css" />
		
		<link rel="stylesheet" href="/miestilo.css" />
		<link rel="stylesheet" href="/assets/css/rrssb.css" />
		
		<style>
		body {
			font-family: 'CicleFina';
		}
		</style>
		
		<script type="text/html" id="TestimonioEjemplo">
			         <li about="" typeof="Testimonio">
			            <span class="image"><img property="imagen" src="/images/fotoPerfil.jpg" alt="" data-carpeta="/perfiles"></span>
			            <h3 property="titulo">Jane Doe</h3>
			            <p property="contenido">Sed magna etiam</p>
			         </li>
		</script>
		
		<script type="text/html" id="CaracteristicaEjemplo">
			<div class="4u 12u$(medium)" about="" typeof="Caracteristica">
				<span class="image fit"><img property="imagen" src="/images/pic02.jpg" alt="" data-carpeta="/caracteristica-mini"/></span>
				<h3 property="titulo"></h3>
				<div property="contenido"></div>
				<ul class="actions">
					<li><a href="#" class="button">M&aacute;s</a></li>
				</ul>
			</div>
		</script>
		
		__USER__
		
		{% block encabezado %}{% endblock %}
		
	</head>
	<body class="landing">
		{% csrf_token %}
		{% with nodo=path|add:'/pagina' tipo='Documento' %}
		<div class="menu_pagina invisible" about="{{ nodo }}" typeof="{{ tipo }}">
			<ul>
				<li><span>T&iacute;tulo:</span><div textplain="true" property="title">{% buscar leng dicci tipo nodo 'title' 'Nucleus' %}</div></li>
				<li><span>Descripci&oacute;n:</span><div textplain="true" property="description">{% buscar leng dicci tipo nodo 'description' 'Descripcion' %}</div></li>
				<li><span>Palabras clave:</span><div textplain="true" property="palabrasclave">{% buscar leng dicci tipo nodo 'palabrasclave' '' %}</div></li>
				<li class="imagen_pagina">
					<img class="imagen_pagina_real" property="imagen" data-max="500" src="{% buscar leng dicci tipo nodo 'imagen' '/images/pic04.jpg' %}" alt="{% buscar leng dicci tipo nodo 'imagen_alt' '' %}" data-carpeta="/caracteristica-mini"/>
				</li>
			</ul>
		</div>
		{% endwith %}

		{% block content %}{% endblock %}
		
		{% block pie %}{% endblock %}

		{% autoescape off %}

		<script src="/assets/js/comun/jquery-2.1.1.min.js"></script>
        <script src="/assets/js/comun/skel.min.js"></script>
        <script src="/assets/js/comun/jquery.scrollex.min.js"></script>
        <script src="/assets/js/comun/jquery.scrolly.min.js"></script>
        <script src="/assets/js/comun/date/jquery-dateFormat.min.js"></script>
        <script src="/assets/js/comun/util.js"></script>
        <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->'
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		
		{% if admin %}
		<script src="/assets/js/create2/ui/core.min.js"></script>
        <script src="/assets/js/create2/ui/position.min.js"></script>
        <script src="/assets/js/create2/ui/widget.min.js"></script>
        <script src="/assets/js/create2/ui/button.min.js"></script>
        <script src="/assets/js/create2/ui/dialog.min.js"></script>
        <script src="/assets/js/create2/ui/droppable.min.js"></script>
        <script src="/assets/js/create2/ui/effect.min.js"></script>
        <script src="/assets/js/create2/ui/effect-highlight.min.js"></script>
        <script src="/assets/js/create2/rangy-core-1.2.3.js"></script>
        <script src="/assets/js/create2/underscore-min.js"></script>
        <script src="/assets/js/create2/backbone-min.js"></script>
        <script src="/assets/js/create2/hallo-min.js"></script>
        <script src="/assets/js/create2/vie-min.js"></script>
        <script src="/assets/js/comun/date/picker.js"></script>
        <script src="/assets/js/comun/date/picker.date.js"></script>
        <script src="/assets/js/comun/date/picker.time.js"></script>
        <script src="/assets/js/comun/date/legacy.js"></script>
        <script src="/assets/js/create2/create-min.js"></script>
        <script src="/assets/js/create2/filereader.js"></script>
		{% endif %}
		
		<script src="/assets/templates/photon/js/main.js"></script>
		<script src="/assets/dist/modulos.min.js"></script>
		
		{% if admin %}
		<script src="/assets/dist/admin/admin.js"></script>
		{% else %}
		<script src="/assets/dist/publico/publico.js"></script>
		{% endif %}
		
		{{ ANALYTICS }}
		{% endautoescape %}
		
		<script src="/assets/js/comun/rrssb.min.js"></script>
		
		{% block scripts %}{% endblock %}
	</body>
</html>